*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}

html{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}


header{
    width: 100vw;
    height: 60px;
    background-color: rgb(26, 25, 25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}



.hea{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px;
    padding-left: 7rem;
    
}

.logo{
    width: 45px;
    height: 45px;
    border: #c4c438 1px solid;
    border-radius: 50%;
    margin-left: 5rem;
}

header h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    margin-left: 6px;
    color: #c4c438;
    
}

ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

li a{
    color: rgb(255, 255, 255);
    display: flex;
    margin: 0 8px;
    padding-right: 0.8rem;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.3s;
}

ul li a:hover{
    color: #c4c438;
}

.icone{
    padding-left: 1rem;
}
    


i{    
    transition: all 0.2s;
    color: #ffffff;
    cursor: pointer;
}

i:hover{
    background-color: #3333;
    font-size: 16px;
    color: #c4c438;
    
    
}

.sec1{
    height: 100vh;
    background-image: linear-gradient(rgba(29, 29, 29 ,0.8), rgba(29, 29, 29 ,0.8) ) ,url(./imagens/1083453.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    top: 0;
}

.div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    color: #acac1a;
    font-size: 2.7rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-family: "Dancing Script", cursiva;
}

h2{
    color: rgb(177, 177, 177);
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0.2rem;
}

.btn button{
    width: 180px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #b8b825;
    border-radius: 13px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    margin-top: 1.4rem;
    transition: all 400ms ease-in;
    font-family: Arial, Helvetica, sans-serif;
}

.btn button:hover{
    border: 1px solid #c4c41f;
    background-color: transparent;
    color: #b8b825;
}

.btn{
    width: 380px;
    display: flex;
    justify-content: space-between;

}

.sobre-nos{
    background-color: #292929;
    width: 100%;
    
    padding-bottom: 4rem;
    color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
}


.sobre-nos img{
    width: 280px;
    height: 280px;
    margin-top: 5rem;
    margin-left: 7rem;
    
    border: 2px solid rgb(155, 155, 155);
   
    
}

.sobre-nos img:hover{
    border: 2px solid rgb(251, 255, 0);
    border-radius: 50%;
    width: 290px;
    height: 290px;
    
}

.main{
    display: flex;
    justify-content: space-between;
}

.contentsobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contentsobre h2{
    font-size: 2.3rem;
    margin-bottom: 1rem;
}

.contentsobre p{
    text-align: center;
    font-size: 1rem;
    width: 600px;
    text-align: justify;
}

.cardapio {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(12, 12, 12, 0.8), rgba(15, 15, 15, 0.8)), url(/img/cardapio.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cardapio h2 {
    font-size: 3.2rem;
    color: #d6d6d6;
    text-transform: uppercase;
}

.itens-cardapio {
    width: 25%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 550px));
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.itens-cardapio .info {
    background-color: rgb(212, 205, 205);
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.1rem;
}

.itens-cardapio .info h3 {
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.itens-cardapio .info h4 {
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 150px 150px;
    margin-left: 4rem;
}

.itens-cardapio .info h4 span{
    font-size: 1.2rem;
    color:#5c5c5c;
    margin-left: 1.5rem;
    text-decoration: underline;
}

.itens-cardapio div {
    background-color: #5e5252;
    box-shadow: 0px 0px 4px 1px ;
}

.itens-cardapio img {
    width: 100%;
    height: 190px;
    align-items: center;
}

.itens-cardapio .info .pedir {
    width: 200px;
    height: 35px;
    margin-top: 0.6rem;
    background-color: #ecbd22;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: rgb(0, 0, 0);
    transition: all 200ms ease-in;
}

.itens-cardapio .info .pedir:hover {
    background-color: #5e5252;
    color: rgb(207, 195, 16);
}

.contatos {
    width: 100%;
    background-color: #2c292cf6;
    display: flex;
    flex-direction: column;
    justify-content: Center;
    align-items: center;
    font-size: 2rem;
    color: rgb(228, 214, 214);
    padding-bottom: 0.8rem;
}

.contatos h3 {
   font-size: 3.1rem;
   margin-bottom: 1rem;
   font-family: 'Indie Flower', cursive;
}

.contatos-secao {
    width: 500px;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}

.contatos-secao i{
    margin-right: 0.3rem;
    color: #000000;

}

.contatos-secao div{
    cursor: pointer;
}

.contatos-secao div:hover{
    color: #ddb91b;
    font-size: 19px;
}

footer {
    height: 30px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

  